* {
  box-sizing: border-box;
  text-decoration: none;
}
.input-container {
  display: flex;
  width: 50%;
  margin-bottom: 15px;
  border-radius: 20px;
  border: 10px solid white;
}
.submit{
  width: 50%;
  border-radius: 20px;
  border: 10px solid rgb(149, 66, 226);
  background-color: rgb(149, 66, 226);
  font-size: large;
  font-weight: bold;
  color: white;
}
.icon {
  padding: 10px;
  background: white;
  color: black;
  min-width: 50px;
  text-align: center;
}

.input-field {
  width: 100%;
  padding: 10px;
  outline: none;
  border:0px;
} 
body {
  background-color: rgba(0, 0, 0, 0.79);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
}
.container {
  display: flex;
  /* height: 100vh; */
  justify-content: space-between;
}
.image {
  display: flex;
  width: 50%;
  height: 70vh;
}
img{
  width: 100%;
}
.create {
  display: flex;
  width: 50%;
  margin-left: 50px;
  flex-direction: column;
  justify-content: center;
}