.init {
  display: flex;
  justify-content: space-evenly;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  transition: 0.3s;
  border-radius: 15px;
  width: 500px;
  height: 550px;
}
.card img {
  border-radius: 15px 15px 0px 0px;
  width: 100%;
}
h1 {
  font-size: 60px;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
}

.container {
  padding: 2px 16px;
}
.right {
  border-radius: 15px;
}
.initContent {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: 1fr;
  gap: 5%;
}
.popular {
  display: flex;
  justify-content: space-between;
}
.card1 {
  display: flex;
  flex-direction: column;
  padding: 16px;
}
.largeImage {
  width: 100%;
  border-radius: 25px;
  padding: 8px;
}
.sub {
  display: flex;
  justify-content: space-between;
}
.subImage {
  width: 30%;
  padding: 8px;
  border-radius: 25px;
}
.latest {
  display: flex;
  justify-content: space-between;
  margin: 16px;
}
.steps {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 10%;
  margin:16px;
}
.stepItem {
box-shadow: 0 4px 8px 0 rgb(0, 0, 0); /* Adjusted alpha value to 0.5 */
  transition: 0.3s;
  border-radius: 15px;
  padding: 16px;
}
