.nav {
  display: inline-flex;
  width: 100%;
}
.iconMarket {
  color: rgb(149, 66, 226);
  height: 100%;
  width: fit-content;
}
.iconSignup {
  color: white;
  font-size: 25px;
  width: fit-content;
}
.logo {
  display: flex;
  width: 15%;
}
.links {
  display: flex;
  justify-content: flex-end;
  width: 85%;
}
.item {
  margin-left: 16px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-decoration: none;
  color: white;
}
.signup {
  background-color: rgb(149, 66, 226);
  border-radius: 15px;
  padding: 16px;
}
button {
  background-color: transparent;
  border: 0px solid;
  display: flex;
  justify-content: center;
}
button b {
  margin-top: 10%;
  color: white;
}
