.overlay {
  height: 35vh;
  width: 100%;
  position: relative;
}

.back {
  position: relative;
  height:35vh;
  width: 100%;
}

.small{
    width: 130px;
    height:13vh;
    position:absolute;
    margin-top: 31vh;
    margin-left:20vh;
    border:2px solid white;
    border-radius: 15px;
    padding: 2px;
}
.container{
    display: flex;
    flex-wrap: wrap;
    height:40vh;
    width: 100%;
}
.content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.left{
    width:50%;
}
.right{
    width:45%;
    display: flex;
    justify-content: flex-end;
    margin-left: 16px;
}
.btn{
    background-color: blueviolet;
    color: white;
    width: 200px;
    height:50px;
    align-items: center;
    border-radius: 20px;
    margin-right: 10px;
}
.btni{
    background-color: transparent;
    border-radius: 20px;
    border:2px solid blueviolet;
    color: white;
    width: 200px;
    height:50px;
    align-items: center;
    margin-right: 10px;
}
.lc{
    margin-left: 16px;
}
.lc h2{
    font-size: 60px;
}
.item{
    font-size: 50px;
}
.social{
    width:25%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}