.nav {
  display: flex;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.388);
  padding: 10px;
  border-radius: 10px;
  border-bottom: 2px solid white;
  /* align-items: center; */
}
.iconMarket {
  color: rgb(149, 66, 226);
  height: 100%;
  /* width: fit-content; */
}
.iconSignup {
  color: white;
  font-size: 25px;
  width: fit-content;
}
.logo {
  display: flex;
  width: 18%;
}
.links {
  display: flex;
  justify-content: flex-end;
  width: 85%;
  align-items: center;
}
.item {
  margin-left: 16px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-decoration: none;
  color: white;
}
.spanItem {
  position: relative;
  display: inline; /* Adjust display property based on your layout */
  transition: color 0.5s ease; /* Add transition for color property */
}

.spanItem:hover {
  width: 100%;
  color: blueviolet; /* Change the color on hover */
  transition: color 1s ease; /* Add a longer transition on hover */
}
.signup {
  background-color: rgb(149, 66, 226);
  border-radius: 15px;
  padding: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
}
button {
  background-color: transparent;
  border: 0px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
button a {
  margin-top: 10%;
  color: white;
  margin-top: 30px;
}
