.sell {
  margin: 0px 16px 0px 16px;
}
.image {
  display: block;
  border-radius: 20px;
  margin-bottom: 10px;
}
.image img {
  width: 50%;
  height: 50%;
  border-radius: 20px;
  margin-bottom: 10px;
}
.hidden {
  display: none;
}
.icon {
  color: black;
  height: 100%;
}
.input-field {
  width: 50%;
  padding: 10px;
  outline: none;
  border: 0px;
  background-color: white;
}
.input-container {
  display: flex;
  width: 50%;
  margin-bottom: 15px;
  border-radius: 20px;
  border: 10px solid white;
}
.upload {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
input[type="file"] {
  background-color: white;
}
