.sell {
  margin: 0px 16px 0px 16px;
}
.image {
  display: block;
  border-radius: 20px;
  margin-bottom: 10px;
}
.image img {
  width: 50%;
  height: 50%;
  border-radius: 20px;
  margin-bottom: 10px;
}
.hidden {
  display: none;
}
.icon {
  color: black;
  height: 30px;
  width:30px;
  background-color: transparent;
}
.inputField {
  width: 100%;
  padding: 10px;
  outline: none;
  border: 0px;
  background-color: white;
  font-family:sans-serif;
  font-weight:500;
}
.inputContainer {
  display: flex;
  width: 50%;
  margin-bottom: 15px;
  border-radius: 20px;
  border: 10px solid white;
  background-color: white;
  align-items: center;
}
.upload {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.upload img {
  height: 50%;
  width: 50%;
  border-radius: 20px;
  margin-bottom: 10px;
}
input[type="file"] {
  background-color: white;
}
.submitButton {
  background-color: blueviolet;
  color: white;
  width: 200px;
  height: 50px;
  border-radius: 20px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon-text{
  color: transparent;
  height: 100%;
}